body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

h1, h2, h4 {
  padding-top: 20px;
  color: #333;
}

figure{
  float:right;
  width: 35%;
  margin-left: 0;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  border: solid black;
  border-radius: 10px;
}

.pp{
  padding: 5px;
  border-radius: 10%;
  width: auto;
  height: 200px;
  margin-bottom: 20px;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a.active {
  color: #007bff;
}

.intro {
  text-align: center;
  margin-bottom: 20px;
}

.category-nav {
  text-align: center;
  margin-bottom: 20px;
}

.category-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.category-button:hover {
  background-color: #0056b3;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: calc(50% - 10px);
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
}

.project img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.project p {
  color: #666;
}

.open-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.open-button:hover {
  background-color: #0056b3;
}

.popupG {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.close-button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.close-button:hover {
  background-color: #cc0000;
}

footer {
  background-color: #fff;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
